name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths-ignore:
      - "**.md"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Prepare gradle.properties
        run: |
          mkdir -p $HOME/.gradle
          echo "repoUsername=${{ secrets.DEPLOY_USERNAME }}" >> $HOME/.gradle/gradle.properties
          echo "repoPassword=${{ secrets.DEPLOY_PASSWORD }}" >> $HOME/.gradle/gradle.properties
      - name: Deploy
        run: |
          ./gradlew clean test publish